* {
  font-family: "Roboto";
  background-color: #f5f5f5;
  margin: 0px;
}
body,
html {
  height: 100%;
}
.logoContainer {
  background-color: #faec4b;
  text-align: center;
}
.logo {
  height: 80px;
}
.accordion {
  color: #900c3f;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
}
.iconForInfo {
  height: 40px;
  width: 40px;
}
.infoCaption {
  padding: 8px;
}
.tableContainer {
  display: none;
}
.tableDiv {
  display: flex;
  justify-content: center;
}
.tableDiv th,
td {
  border: 1px solid;
}
.table {
  border: 1px solid;
  border-collapse: collapse;
}
.adminText {
  text-align: center;
}
.employeeHistory {
  color: #900c3f;
}
.containerElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.formControl {
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  padding: 10px;
  color: #000000;
}
.punchButton {
  color: #900c3f;
  font-weight: 500;
  font-size: 16px;
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  top: 45px;
  box-shadow: -20px -20px 25px rgba(255, 255, 255, 0.5),
    20px 20px 25px rgba(70, 70, 70, 0.12);
  border-radius: 50px;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer;
}
.loader {
  position: absolute;
  left: 200px;
  top: 450px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.loader:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100px;
  height: 100px;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 100px;
  animation: animateC 2s linear infinite;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
/* Error-page-css */
.errorTextContainer {
  text-align: center;
  color: #900c3f;
}
/* Admin-page-css */
.logoNavigation {
  cursor: pointer;
}
.historyPageContainer {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.historypageFormInputElements {
  width: 250px;
  border-radius: 3px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.dbResultsContainer {
  text-align: center;
}
.recardDetailsCaption {
  text-decoration: underline;
  color: #900c3f;
  text-align: center;
}
.historypageSubmitBtn {
  width: 100px;
  position: relative;
  left: 85px;
  padding: 10px;
  border: 0px;
  cursor: pointer;
  background-color: #900c3f;
  color: #ffffff;
}
